html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: green;
    height: 15%;
    font-size: 2rem;
  }
  main {
    width: 100%;
    height: 100%;
    background-color: yellow;
  }
}

.balloon {
  width: 20%;
  height: 20%;
  border-radius: 50%;
  background-color: red;
  position: absolute;
}
